/*.hotblocks-wysiwyg::before {
  content: "test";
  position: absolute;
  z-index: 20;
  top: auto;
  margin-top: 40px;
  margin-left: 40px;
  border: 1px solid #aaa;
  padding: 10px;
  width: auto;
  font-weight: bold;
  display: block;
}*/

img.hotblocks-wysiwyg {
  width: 300px;
  height: 200px;
}